<footer class="footer">
  <small>
    The Hospital Meals Application</a>
    by <a href="https://www.facebook.com/daniel.salinas.984">Daniel Salinas</a>
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>